<style>
    .hot-infor-left .flet-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 15px;
    }

    .content-item,
    .content-item1 {
        border-top: 1px solid #e4e4e4;
       

    }

    .content-item :hover,
    .content-item1 :hover {
        text-decoration: none;
        color: #E28071;
    }

    .hot-new * {
        font-size: 14px;
    }

    .right-content .content-preview {
        font-size: 13px;
    }
    .right-content .content-titel{
      padding-top: 15px;
    }
    .right-content .content-titel :hover {
        text-decoration: none;
        color: #E28071;
    }
</style>
<div class="hot-new">
    <div class="row">
        <div class="col-md-9">
            <div class="hot-new-right">
                <div class="right-content">
                    <a href="abc" title="abc">
                        <img src="http://baovanhoa.vn/Portals/0/EasyDNNNews/70255/860500c2451EDNthumb3-toan-canh-Phan-Dinh-Tracv.jpg"
                            alt="abc">
                    </a>
                    <h2 class="content-titel">
                        <a href="#">
                            Đoàn kiểm tra của Bộ Chính trị: Ghi nhận những cố gắng, nỗ lực của Ban cán sự Đảng Bộ VHTTDL
                        </a>
                    </h2>
                    <div class="content-preview">
                        VHO - Chiều 17.10, Ủy viên Bộ Chính trị, Bí thư Trung ương Đảng,
                        Trưởng Ban Nội chính Trung ương, Trưởng Đoàn kiểm tra 889 của Bộ Chính trị
                        Phan Đình Trạc đã chủ trì Hội nghị triển khai Kế hoạch kiểm tra về công tác cán bộ đối với Ban
                        cán sự Đảng...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hot-infor-left">
                <div class="flet-content">
                    <div class="content-item1">
                        <a href="#">
                            <span class="fa fa-angle-double-right ">
                            </span> Bộ VHTTDL: Công bố 28 thủ tục hành chính ưu tiên thực hiện trên môi trường điện tử
                        </a>
                    </div>
                    <div class="content-item">
                        <a href="#">
                            <span class="fa fa-angle-double-right ">
                            </span>
                            Festival Thực hành Tín ngưỡng thờ Mẫu Thượng Ngàn: Bảo tồn, phát huy giá trị di sản
                        </a>
                    </div>
                    <div class="content-item">
                        <a href="#">
                            <span class="fa fa-angle-double-right ">
                            </span>
                            Festival Thực hành Tín ngưỡng thờ Mẫu Thượng Ngàn: Bảo tồn, phát huy giá trị di sản
                        </a>
                    </div>
                    <div class="content-item">
                        <a href="#">
                            <span class="fa fa-angle-double-right ">
                            </span>
                            Chủ tịch nước Võ Văn Thưởng gặp Tổng thống Liên bang Nga Vladimir Putin
                        </a>
                    </div>
                    <div class="content-item">
                        <a href="#">
                            <span class="fa fa-angle-double-right ">
                            </span>

                            Đoàn kiểm tra của Bộ Chính trị: Ghi nhận những cố gắng, nỗ lực của Ban cán sự Đảng Bộ VHTTDL

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>