<style>
    .chinhtri {
        padding-top: 15px;
        font-size: 12px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .chinhtri-content {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
        padding-top: 15px;

    }

    .chinhtri-content .chinhtri-content-item1 {
        grid-column: 1/4;
        grid-row: 1/3;
    }

    .chinhtri-content-item2 {
        grid-column: 6/8;
        grid-row: 1/3;
    }

    .chinhtri-content .content-titel {
        font-size: 12px;
    }

    .chinhtri .header-content a {
        text-decoration: none;
        color: #9d3266;
        font-weight: 600;

    }

    .chinhtri .h2 {
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        border-bottom: solid 1px #a0a0a0;
        font-size: 1rem;
    }

    .chinhtri .h2::before {
        content: "";
        width: 6%;
        border-bottom: solid 7px #9d3266;
        position: absolute;
        bottom: -4px;
        left: 6%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .chinhtri .h2::after {
        content: "";
        width: 12%;
        border-bottom: solid 3px #9d3266;
        position: absolute;
        bottom: -2px;
        left: 0;
    }

    .h2 .boder a {
        padding-bottom: 5px;
        color: #9d3266;
    }

    @media (min-width: 767px) {
        .chinhtri-content .chinhtri-content-item1 {
            grid-column: 1/8;
            grid-row: 1/3;
        }
    }

    @media (min-width: 575px) {
        .chinhtri-content .chinhtri-content-item1 {
            grid-column: 1/8;
            grid-row: 1/3;
        }
    }
</style>
<div class="chinhtri">
    <h2 class="h2">
        <span class="boder">
            <a href="#">
                NGHỆ THUẬT
            </a>
        </span>
    </h2>
    <div class="chinhtri-content">
        <div class="chinhtri-content-item1">
            <a href="abc" title="abc">
                <img src="http://vanhoaonline.vn/Portals/0/EasyDNNNews/thumbs/70306/155905Truong-DTTQ.jpg" alt="abc">
            </a>
            <h2 class="content-titel">
                <a href="#">
                    Đảng bộ Bộ VHTTDL đoạt ba giải tại Cuộc thi chính luận bảo vệ nền tảng tư tưởng của Đảng
                </a>
            </h2>
            <div class="content-preview">
                VHO - Chiều 18.10, Lễ tổng kết và trao giải Cuộc thi chính luận về bảo vệ
                nền tảng tư tưởng của Đảng năm 2023 trong Đảng Bộ khối các cơ quan Trung
                ương đã được tổ chức tại trụ sở Đài Tiếng nói Việt Nam.
            </div>
        </div>
        <div class="chinhtri-content-item">
            <a href="abc" title="abc">
                <img src="http://vanhoaonline.vn/Portals/0/EasyDNNNews/thumbs/70309/155891IMG_7985.JPG" alt="abc">
            </a>
            <h2 class="content-titel">
                <a href="#">
                    Tổ chức Tuần Văn hóa, du lịch, thương mại làng nghề dệt lụa Vạn Phúc
                </a>
            </h2>
        </div>
        <div class="chinhtri-content-item">
            <a href="abc" title="abc">
                <img src="http://vanhoaonline.vn/Portals/0/EasyDNNNews/thumbs/70289/155844IMG_8672.JPG" alt="abc">
            </a>
            <h2 class="content-titel">
                <a href="#">
                    Chậm như... tu sửa cấp thiết di sản thành nhà Hồ
                </a>
            </h2>
        </div>
        <div class="chinhtri-content-item">
            <a href="abc" title="abc">
                <img src="http://vanhoaonline.vn/Portals/0/EasyDNNNews/thumbs/70266/155785IMG_1746.jpeg" alt="abc">
            </a>
            <h2 class="content-titel">
                <a href="#">
                    Kỷ niệm 50 năm quan hệ ngoại giao Việt Nam - Italia: Văn hóa, nghệ thuật là cầu nối thắt chặt tình
                    hữu nghị
                </a>
            </h2>
        </div>
        <div class="chinhtri-content-item">
            <a href="abc" title="abc">
                <img src="http://vanhoaonline.vn/Portals/0/EasyDNNNews/thumbs/70296/155856PQV_8617.JPG" alt="abc">
            </a>
            <h2 class="content-titel">
                <a href="#">
                    Bến nước thời gian: Tìm cách kể mới cho kịch đề tài chiến tranh
                </a>
            </h2>
        </div>
        <div class="chinhtri-content-item2">
            <a href="abc" title="abc">
                <img src="http://vanhoaonline.vn/Portals/0/EasyDNNNews/thumbs/70306/155905Truong-DTTQ.jpg" alt="abc">
            </a>
            <h2 class="content-titel">
                <a href="#">
                    Đảng bộ Bộ VHTTDL đoạt ba giải tại Cuộc thi chính luận bảo vệ nền tảng tư tưởng của Đảng
                </a>
            </h2>
            <div class="content-preview">
                VHO - Chiều 18.10, Lễ tổng kết và trao giải Cuộc thi chính luận về bảo vệ
                nền tảng tư tưởng của Đảng năm 2023 trong Đảng Bộ khối các cơ quan Trung
                ương đã được tổ chức tại trụ sở Đài Tiếng nói Việt Nam.
            </div>
        </div>

    </div>
</div>